body{

	background-color: lightblue;
}

table{
      margin-left: 400px;
}

th, td {
text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

img{

    margin-left: 300px;
	width: 400px;
	height: 300px;
}

.dd{
	width: 600px
	height:200px;
}